// import fonts 
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

// colors
$p_color : #5a6772;
$bg_color: #F9F9F9;
$bg_color2 : #A0AEC1;
$brand_color : #DA552F; 
$border_color: #c1c1c1;
$twitter:#00aced;

// fonts 
$DroidArabicNaskh : 'Droid Arabic Naskh', sans-serif;
$DroidArabicKufi : 'Droid Arabic Naskh', serif;

// shadow variabls 
$m-shadow : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);