@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.right {
  float: right;
  text-align: right; }

.left {
  float: left; }

.center {
  text-align: center;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.padding-right-one {
  padding-right: 1em; }

.padding-left-one {
  padding-left: 1em; }

.padding-top-one {
  padding-top: 1em; }

.padding-bottom-one {
  padding-bottom: 1em; }

.padding-one {
  padding: 1em; }

.padding-top-two {
  padding-top: 2em; }

.padding-bottom-two {
  padding-bottom: 2em; }

.padding-right-two {
  padding-right: 2em; }

.padding-left-two {
  padding-left: 2em; }

.padding-two {
  padding: 2em; }

.padding-top-half {
  padding-top: 0.5em; }

.padding-bottom-half {
  padding-bottom: 0.5em; }

.padding-right-half {
  padding-right: 0.5em; }

.padding-left-half {
  padding-left: 0.5em; }

.padding-half {
  padding-left: 0.5em; }

.padding-miny {
  padding: 0.3em; }

.padding-top-miny {
  padding-top: 0.3em; }

.padding-left-miny {
  padding-left: 0.3em; }

.padding-right-miny {
  padding-right: 0.3em; }

.padding-bottom-miny {
  padding-bottom: 0.3em; }

.padding-tiny {
  padding: 0.09em; }

.padding-top-tiny {
  padding-top: 0.09em; }

.padding-left-tiny {
  padding-left: 0.09em; }

.padding-right-tiny {
  padding-right: 0.09em; }

.padding-bottom-tiny {
  padding-bottom: 0.09em; }

.margin-top-half {
  margin-top: 0.5em; }

* {
  padding: 0;
  margin: 0; }

html, body {
  outline: none !important;
  overflow-x: hidden;
  direction: rtl;
  text-align: right !important;
  font-family: Droid Arabic Naskh; }

p {
  color: #5a6772;
  font-size: 14px; }

.container {
  width: 100%;
  height: 100%;
  background-color: #F9F9F9; }

.container-logo {
  background-color: transparent;
  width: 500px;
  height: 200px; }

.label-logo {
  top: 20%;
  right: 50%; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #DA552F; }
  a:hover {
    color: #5a6772; }

.link-logo {
  font-size: 26px;
  font-weight: 2em; }

.container-nav {
  top: 6%;
  left: 15%; }
  .container-nav li {
    display: inline-block; }
  .container-nav a {
    color: #5a6772;
    transition: 0,3s; }
    .container-nav a:hover {
      color: #DA552F; }

.login-btn {
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  background-color: transparent;
  font-family: 14px; }
  .login-btn:hover {
    background-color: #A0AEC1;
    color: #FFFFFF;
    border-color: #A0AEC1; }

.container-welcome {
  top: 28%;
  right: 23%;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  max-width: 726px;
  max-height: 742px; }

.title {
  text-align: center;
  font-size: 32px;
  font-family: Droid Arabic Kufi; }

.text {
  text-align: center;
  font-size: 20px;
  font-family: Droid Arabic Naskh; }

.container-welcome_form {
  right: 24%;
  top: 2%; }

button,
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  font-family: Droid Arabic Naskh !important; }

input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: Droid Arabic Naskh;
  direction: rtl;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  outline: none;
  font-size: 12px;
  transition: box-shadow 0.3s, border 0.3s; }
  input[type="text"]:active,
  input[type="email"]:active,
  input[type="password"]:active {
    border-left-color: #DA552F; }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover {
    border-left-color: #DA552F; }
  input[type="text"]:invalid,
  input[type="email"]:invalid,
  input[type="password"]:invalid {
    border-left: 4px solid #E66565; }

input[type="submit"] {
  border-radius: 4px;
  cursor: pointer; }

.text-input {
  height: 2.5em;
  width: 26em;
  background-color: #FFFFFF;
  border: 1px solid #c1c1c1;
  border-left: 4px solid #c1c1c1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.submit-input {
  height: 2.5em;
  width: 4em;
  color: #FFFFFF;
  background-color: #67BE90;
  border: 1px solid #67BE90; }

.container-header {
  width: 100%;
  height: 3em;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.container-header_search {
  top: -2.5em;
  left: 4em; }

.search-input {
  background-color: #f1f2f4;
  color: #c0c0c0;
  border: 1px solid #FFFFFF;
  width: 20em;
  height: 2.2em;
  padding-right: 24px;
  border-radius: 2px;
  border-left: none; }
  .search-input:hover {
    border-left: none; }
  .search-input:active {
    border-left: none; }
  .search-input:invalid {
    border-left: none; }

.container-header_nav {
  top: 0.4em; }
  .container-header_nav .fa {
    font-size: 16px;
    color: #8d9aa5;
    transition-property: all;
    transition: 0.3s; }
    .container-header_nav .fa:hover {
      color: #DA552F; }
  .container-header_nav ul > li {
    border-left: 1px solid #ecf0f1; }
  .container-header_nav .active-link {
    color: #DA552F; }

.header_logo {
  left: 6%; }

/*# sourceMappingURL=main.css.map */
